/* Google Fonts Import Link */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 340px;
    background: #11101d;
    z-index: 100;
    transition: all 0.5s ease;
}

.sidebar.close {
    width: 78px;
}

.sidebar .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
}

.sidebar .logo-details img {
    /* outline: red 1px solid; */
    margin: 0 17px;
}
#cab{
    color: #D42A2A;
    transition: 100ms;
}
.sidebar .logo-details .logo_name {
    font-size: 22px;
    color: #f5f5f5;
    font-weight: 600;
    transition: 0.3s ease;
    transition-delay: 0.1s;
    text-transform: uppercase;
}

.sidebar.close .logo-details .logo_name {
    transition-delay: 0s;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links {
    height: 100%;
    padding: 30px 0 150px 0;
    overflow: auto;
}

.sidebar.close .nav-links {
    overflow: visible;
}

.sidebar .nav-links::-webkit-scrollbar {
    display: none;
}

.sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.sidebar .nav-links li:hover {
    background: #1d1b31;
}

.sidebar .nav-links li .iocn-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sidebar.close .nav-links li .iocn-link {
    display: block
}

.sidebar .nav-links li i {
    height: 50px;
    min-width: 78px;
    text-align: center;
    line-height: 50px;
    color: #f5f5f5;
    font-size: 22px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar .nav-links li.showMenu i.arrow {
    transform: rotate(-180deg);
}

.sidebar.close .nav-links i.arrow {
    display: none;
}

.sidebar .nav-links li a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar .nav-links li a .link_name {
    font-size: 18px;
    font-weight: 400;
    color: #f5f5f5;
    transition: all 0.4s ease;
}

.sidebar.close .nav-links li a .link_name {
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li .sub-menu {
    padding: 6px 6px 14px 80px;
    margin-top: -10px;
    background: #1d1b31;
    display: none;
}

.sidebar .nav-links li.showMenu .sub-menu {
    display: block;
}

.sidebar .nav-links li .sub-menu a {
    color: #f5f5f5;
    font-size: 15px;
    padding: 5px 0;
    white-space: nowrap;
    opacity: 0.6;
    transition: all 0.3s ease;
}

.sidebar .nav-links li .sub-menu a:hover {
    opacity: 1;
}

.sidebar.close .nav-links li .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 10px 20px;
    border-radius: 0 6px 6px 0;
    opacity: 0;
    display: block;
    pointer-events: none;
    transition: 0s;
}

.sidebar.close .nav-links li:hover .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
    transition: all 0.4s ease;
}

.sidebar .nav-links li .sub-menu .link_name {
    display: none;
}

.sidebar.close .nav-links li .sub-menu .link_name {
    font-size: 18px;
    opacity: 1;
    display: block;
}

.sidebar .nav-links li .sub-menu.blank {
    opacity: 1;
    pointer-events: auto;
    padding: 3px 20px 6px 16px;
    opacity: 0;
    pointer-events: none;
}

.sidebar .nav-links li:hover .sub-menu.blank {
    top: 50%;
    transform: translateY(-50%);
}

.sidebar .profile-details {
    position: fixed;
    bottom: 0;
    width: 340px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #1d1b31;
    padding: 12px 0;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details {
    background: none;
}

.sidebar.close .profile-details {
    width: 78px;
}

.sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
}

.sidebar .profile-details img {
    height: 52px;
    width: 52px;
    object-fit: cover;
    border-radius: 16px;
    margin: 0 14px 0 12px;
    background: #1d1b31;
    transition: all 0.5s ease;
}

.sidebar.close .profile-details img {
    padding: 10px;
}

.sidebar .profile-details .profile_name,
.sidebar .profile-details .job {
    color: #f5f5f5;
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    margin-left: -70px;
}

.sidebar.close .profile-details i,
.sidebar.close .profile-details .profile_name,
.sidebar.close .profile-details .job {
    display: none;
}

.sidebar .profile-details .job {
    font-size: 12px;
}

.home-section {
    position: relative;
    background: #f5f5f5;
    min-height: 100vh;
    left: 260px;
    width: calc(100% - 260px);
    transition: all 0.5s ease;
    padding-bottom: 5px;
}

.sidebar.close~.home-section {
    left: 78px;
    width: calc(100% - 78px);
}

.home-section .home-content {
    height: 60px;
    display: flex;
    align-items: center;
}

.home-section .home-content .bx-menu,
.home-section .home-content .text {
    color: #11101d;
    font-size: 35px;
}

.home-section .home-content .bx-menu {
    margin-left: 95px;
    margin-right: 15px;
    cursor: pointer;
    transition: 500ms;
}

.sidebar.close~.home-section .home-content .bx-menu {
    margin-left: 15px;
}

.home-section .home-content .text {
    font-size: 26px;
    font-weight: 600;
}

@media (max-width: 400px) {
    .sidebar.close .nav-links li .sub-menu {
        display: none;
    }

    .sidebar {
        width: 78px;
    }

    .sidebar.close {
        width: 0;
    }

    .home-section {
        left: 78px;
        width: calc(100% - 78px);
        z-index: 100;
    }

    .sidebar.close~.home-section {
        width: 100%;
        left: 0;
    }
}

.nav-links .link_name {
    white-space: nowrap; /* Prevents text wrapping */
    overflow: hidden;    /* Hides overflow */
    text-overflow: ellipsis; /* Adds "..." if the text is too long */
}



.home-content div.dropdown-menu{
    padding: 0;
}

#open-notif{
    margin-left: auto; 
    margin-right: 110px;
    padding: 5px 10px;
    background-color: #11101d;
    color: #f5f5f5;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

#open-notif span{
    background-color: red;
}

.dropdown{
    margin-left: auto;
}

#notif-list{
    width: 700px !important;
    max-height: 70vh;
    min-height: 70vh;
    overflow-y: auto;
    padding: 0; 
    margin: 0;
}

.dropdown-item{
    border-bottom: 2px solid lightgray !important;
    padding: 25px 25px !important;
    display: flex !important;
    flex-direction: column;
}

.dropdown-item .badge {
    width: fit-content !important;
    margin-bottom: -15px !important;
    font-size: 13px;
    text-transform: uppercase;
}
.dropdown-item small{
    font-weight: normal;
    margin-left: 5px;
}
.dropdown-item .badge.sys {
    background-color: transparent !important;
    border: 2px solid #11101d !important;
    color: #11101d ;
}
.dropdown-item .badge.ser {
    background-color: #11101d !important;
    border: 2px solid #11101d !important;
}

/* Optional: change active item when clicked */
#notif-list .dropdown-item:active {
    background-color: lightgray;
    color: black;
}

.cat-buttons{
    display: flex;
    width: 100%;
    height: 50px;
    position: sticky;
    top: 0;
}   
.cat-buttons button{
    border: none !important;
    outline: none !important;
    width: 100%;
    font-weight: bolder;
    background-color: #11101d;
    color: white;
}
.cat-buttons button.active{
    border: none;
    outline: none;
    border-bottom: 5px solid #D42A2A !important;
}

#manage-notif{
    background-color: #11101d;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 100%;
    padding: 10px;
    margin: 0;
    /* gap: 10px; */
    
}
#manage-notif button{
    margin-right: 10px;
    border: none !important;
    outline: none !important;
    padding: 5px 8px;
    background-color: #f5f5f5 !important;
    color: #11101d !important;
    display: flex;
    gap: 10px;
    border-radius: 3px;
}

#manage-notif button i{
    font-size: 20px;
}


#manage-notif button:hover{
    opacity: 0.9;
}